<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bulig Foundation</title>
  <!-- Load Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:900|Merriweather&display=swap" rel="stylesheet">  

  <!-- Load Styles -->
  <link href="../styles/styles.css" rel="stylesheet">
</head>
<body>
  <header class="page__header">
    <nav class="navbar__menu">
        <ul id="navbar__list">
            <li class="navbar__menu menu__link" id="home"><a href="../index.html">Home</a></li>
            <li class="navbar__menu menu__link" id="mission"><a href="../views/mission.html">Mission & Vision</a></li>
            <li class="navbar__menu menu__link" id="programs"><a href="../views/programs.html">Community Programs</a></li>
            <li class="navbar__menu menu__link" id="news"><a href="../views/news.html">News & Events</a></li>
            <li class="navbar__menu menu__link" id="gallery"><a href="../views/gallery.html">Gallery</a></li>
            <li class="navbar__menu menu__link menu__link__active" id="donate"><a href="../views/donate.html">Donate</a></li>
            <li class="navbar__menu menu__link" id="contact"><a href="../views/contact.html">Contact Us</a></li>
          </ul>
    </nav>
  </header>
  <main>
    <div class= "center">
        <img src="../photos/logo.png" alt="Bulig Foundation logo" id="headerlogo">
        <img src="../photos/banner.jpg" alt="images of Bobon with Ghandi quote" id="headerbanner">
        <hr>
    </div> 
    
    <section id="section1" data-nav="Home" >
      <div class="landing__container">
          <h3><em>Be part of our foundation family!</em></h3>
          <p>Bulig Foundation will  accept donations from individual donors, Philanthropists and private individuals. It will also accept donated time, services, knowledge, skills and expertise from individuals, groups and other charitable organizations.
          </p>
          <p>ALL DONATIONS ARE TAX DEDUCTIBLE. WE ARE A TAX EXEMPT 501c3 CHARITABLE NONPROFIT ORGANIZATION
          </p>
      </div>
    </section>
    <section id="section2" data-nav="Recent Photos">
      <div class="landing__container two_col">
        <div>
          <a href="https://smile.amazon.com" target="_blank"><img src="../photos/smile.png" class="halfscreen" alt="Amazon Smile logo"></a>
          <article>
            <p>
              Shop online at Amazon and BULIG FOUNDATION will earn a percentage of every purchase you make.
            </p>  
            <p>
              It's Easy! 
            </p>
            <p>
              Just click on the <a href="https://smile.amazon.com" target="_blank">AmazonSmile</a> picture above or the link below, log on with your Amazon account, do a one-time search and select BULIG FOUNDATION and shop as you normally would. 
            </p>
            <p>
              That's it!
            </p>
            <p>
              No card registration, coupons or special downloads required. Just make sure that you log on to <a href="https://smile.amazon.com" target="_blank">https://smile.amazon.com</a> everytime you shop at Amazon.
            </p>
            <p>Thank you. We appreciate your support!
            </p>
          </article>
        </div>
        <div class="quotebox" id="donationmsg">WHATEVER YOUR REASON FOR DONATING AND HOWEVER YOU CHOOSE TO MAKE YOUR DONATION,  IF YOU ARE INTERESTED IN DONATING CLOTHES, HOUSEHOLD ITEMS, CARS, ELECTRONICS, BOATS, ETC.... ​WE ARE GRATEFUL FOR YOUR SUPPORT. </div>
      </div>
    </section>
  </main>
  <footer class="page__footer">
    <p>Last updated: May 2021</p>
    <div id="footerblock">
      <a href="mailto:buligfoundation@gmail.com" target="_blank" rel="external"><img src="../photos/email.png" class="logopic"></a>            
      <a href="https://www.facebook.com/profile.php?id=100009228773795" target="_blank" rel="external"><img src="../photos/fb.png" class="logopic"></a>            
      <a href="https://www.facebook.com/buligf" target="_blank" rel="external"><img src="../photos/fblike.png" class="logopic"></a>            
      <a href="https://www.juliahershey.com" target="_blank" rel="external"><img src="../photos/jh.png" alt="Website made by JH" class="logopic"></a>            
    </div>
  </footer>
  <!-- <script src="js/app.js"></script> -->
</body>
</html>