<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bulig Foundation</title>
  <!-- Load Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:900|Merriweather&display=swap" rel="stylesheet">  

  <!-- Load Styles -->
  <link href="../styles/styles.css" rel="stylesheet">
</head>
<body>
  <header class="page__header">
    <nav class="navbar__menu">
        <ul id="navbar__list">
            <li class="navbar__menu menu__link" id="home"><a href="../index.html">Home</a></li>
            <li class="navbar__menu menu__link" id="mission"><a href="../views/mission.html">Mission & Vision</a></li>
            <li class="navbar__menu menu__link" id="programs"><a href="../views/programs.html">Community Programs</a></li>
            <li class="navbar__menu menu__link" id="news"><a href="../views/news.html">News & Events</a></li>
            <li class="navbar__menu menu__link menu__link__active" id="gallery"><a href="../views/gallery.html">Gallery</a></li>
            <li class="navbar__menu menu__link" id="donate"><a href="../views/donate.html">Donate</a></li>
            <li class="navbar__menu menu__link" id="contact"><a href="../views/contact.html">Contact Us</a></li>
          </ul>
    </nav>
  </header>
  <main>
    <div class= "center">
        <img src="../photos/logo.png" alt="Bulig Foundation logo" id="headerlogo">
        <img src="../photos/banner.jpg" alt="images of Bobon with Ghandi quote" id="headerbanner">
        <hr>
    </div> 
    <section class="">
      <div class="center">
        <div class="quotebox  sidebox">
          <blockquote>"Alone we can do so little, together we can do so much."</blockquote>
          <figcaption>-Helen Keller</figcaption>
        </div>
      </div>
    </section>
    <section id="" data-nav="" >
      <div class="landing__container">
          <h2>Photo Gallery</h2>
          <em>Pictures and videos of our past and present activities will be posted here.
          </em>
      </div>
    </section>
    <section id="" data-nav="">
        <div class="landing__container gallery">
          <img src="../photos/gallery/g1.jpg" class="galleryimg">
          <img src="../photos/gallery/g2.jpg" class="galleryimg">
          <img src="../photos/gallery/g3.jpg" class="galleryimg">
          <img src="../photos/gallery/g4.jpg" class="galleryimg">
          <img src="../photos/gallery/g5.jpg" class="galleryimg">
          <img src="../photos/gallery/g6.jpg" class="galleryimg">
          <img src="../photos/gallery/g7.jpg" class="galleryimg">
          <img src="../photos/gallery/g8.jpg" class="galleryimg">
          <img src="../photos/gallery/g9.jpg" class="galleryimg">
          <img src="../photos/gallery/g10.jpg" class="galleryimg">
          <img src="../photos/gallery/g11.jpg" class="galleryimg">
          <img src="../photos/gallery/g12.jpg" class="galleryimg">

        </div>
    </section>
  </main>
  <footer class="page__footer">
    <p>Last updated: May 2021</p>
    <div id="footerblock">
      <a href="mailto:buligfoundation@gmail.com" target="_blank" rel="external"><img src="../photos/email.png" class="logopic"></a>            
      <a href="https://www.facebook.com/profile.php?id=100009228773795" target="_blank" rel="external"><img src="../photos/fb.png" class="logopic"></a>            
      <a href="https://www.facebook.com/buligf" target="_blank" rel="external"><img src="../photos/fblike.png" class="logopic"></a>            
      <a href="https://www.juliahershey.com" target="_blank" rel="external"><img src="../photos/jh.png" alt="Website made by JH" class="logopic"></a>            
    </div>
  </footer>
  <!-- <script src="js/app.js"></script> -->
</body>
</html>