<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bulig Foundation</title>
  <!-- Load Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:900|Merriweather&display=swap" rel="stylesheet">  

  <!-- Load Styles -->
  <link href="../styles/styles.css" rel="stylesheet">
</head>
<body>
  <header class="page__header">
    <nav class="navbar__menu">
      <ul id="navbar__list">
        <li class="navbar__menu menu__link" id="home"><a href="../index.html">Home</a></li>
        <li class="navbar__menu menu__link menu__link__active" id="mission"><a href="../views/mission.html">Mission & Vision</a></li>
        <li class="navbar__menu menu__link " id="programs"><a href="../views/programs.html">Community Programs</a></li>
        <li class="navbar__menu menu__link" id="news"><a href="../views/news.html">News & Events</a></li>
        <li class="navbar__menu menu__link" id="gallery"><a href="../views/gallery.html">Gallery</a></li>
        <li class="navbar__menu menu__link" id="donate"><a href="../views/donate.html">Donate</a></li>
        <li class="navbar__menu menu__link" id="contact"><a href="../views/contact.html">Contact Us</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class= "center">
        <img src="photos/logo.png" alt="Bulig Foundation logo" id="headerlogo">
        <img src="photos/banner.jpg" alt="images of Bobon with Ghandi quote" id="headerbanner">
    </div> 
    <section class="two_col">
        <div >
        <h2>Mission & Vision</h2>
        <!-- <div class="wideblock"> -->
            <h3>Our Mission</h3>
                <p>To assist in education, uplift Social, Economic, Health and living condition of individuals and families in underserved and impoverished communities</p>
                <p>Bulig Foundation conducts wellness missions in underserved communities to encourage and educate individuals and families how to live a healthy lifestyle.</p>
            <h3>Our Vision</h3>
                <p>To make a difference in the lives of individuals and families one person or family at a time.</p>
                <a href="https://www.paypal.com/donate/?token=7mRHZDR2pv4_26M9s8psU-cYv6301mDtK9q_q3wFoH57BMkssY7jlOexM_ST8KWKDOqYgFQWaJh92A8H&Z3JncnB0=" target="_blank" rel="external"><img src="photos/donate.png" alt="Donate button linking to paypal" class="medimg"></a>
        </div>
        <div class="vertical">
            <img src="photos/img5.jpg" class="shortimg">
            <img src="photos/img6.jpg" class="shortimg">
            <img src="photos/img7.jpg" class="shortimg">
        </div>
    </section>
    <section>
        <div class="quotebox sidebox">
            <blockquote>"The smallest act of kindness is worth more than the grandest intention"</blockquote>
            <figcaption>-Oscar Wilde</figcaption>
        </div>
    </section>
  </main>

  <footer class="page__footer">
    <p>&copy Udacity</p>
  </footer>
  <!-- <script src="js/app.js"></script> -->
</body>
</html>