<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bulig Foundation</title>
  <!-- Load Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:900|Merriweather&display=swap" rel="stylesheet">  

  <!-- Load Styles -->
  <link href="../styles/styles.css" rel="stylesheet">
</head>
<body>
  <header class="page__header">
    <nav class="navbar__menu">
        <ul id="navbar__list">
            <li class="navbar__menu menu__link" id="home"><a href="../index.html">Home</a></li>
            <li class="navbar__menu menu__link" id="mission"><a href="../views/mission.html">Mission & Vision</a></li>
            <li class="navbar__menu menu__link" id="programs"><a href="../views/programs.html">Community Programs</a></li>
            <li class="navbar__menu menu__link" id="news"><a href="../views/news.html">News & Events</a></li>
            <li class="navbar__menu menu__link" id="gallery"><a href="../views/gallery.html">Gallery</a></li>
            <li class="navbar__menu menu__link" id="donate"><a href="../views/donate.html">Donate</a></li>
            <li class="navbar__menu menu__link" id="contact"><a href="../views/contact.html">Contact Us</a></li>
          </ul>
    </nav>
  </header>
  <main>
    <div class="main__hero center">
        <img src="../photos/logo.png" alt="Bulig Foundation logo" id="headerlogo">
        <img src="../photos/banner.jpg" alt="images of Bobon with Ghandi quote" id="headerbanner">
        <hr>
    </div> 
    
    <section id="section1" data-nav="Home" >
      <div class="landing__container">
          <h2>News & Events</h2>
          <div class="center">
            <div class="quotebox widequote">
              <blockquote>"The smallest act of kindness is worth more than the grandest intention"</blockquote>
              <figcaption>-Spongebob Frank</figcaption>
            </div>
          </div>
      </div>
    </section>
    <section id="" data-nav="">
      <div class="landing__container offset fullwidth">
        <div id="ruby" class="card">
            <article >
              <div class="center">
                <h4>Aid to "Ruby/ Hagupit" Disaster</h4>
              </div>
              <p>
                Due to the recent typhoon "Ruby/Hagupit" Bulig Foundation is trying to coordinate aid and assistance to the people who have suffered damages to their homes and properties. We welcome any assistance you can give to the Foundation.
              </p>
            </article>
            <div class="center">
                <img src="../photos/ne1.jpg" alt="" class="medtallimg">
            </div>
        </div>
        <div class="center">
          <img src="../photos/donate.png" alt="" class="">
        </div>
        <div id="volunteer" class="card">
            <article>
              <div class="center">
                <h4>Become a Volunteer</h4>
              </div>
              <p>
                We seek for volunteers and do Fundraising events to fund community programs. Once or twice a year Bulig Foundation organizes a fundraising event to be able to fund community programs that the foundation advocates for.
              </p>
            </article>
            <div class="center">
                <img src="../photos/ne2.jpg" alt="" class="medtallimg">
            </div>    
        </div>
        <div id="awareness" class="card">
            <article>
              <div class="center">
                <h4>Health and Wellness Awareness Mission</h4>
              </div>
              <p>
                Bulig Foundation conducts wellness missions in underserved communities to encourage and educate individuals and families how to live a healthy lifestyle.
              </p>
            </article>
            <div class="center">
                <img src="../photos/ne3.jpg" alt="" class="medtallimg">
            </div>    
        </div>


      </div>
    </section>
    <!-- <section id="psection3" data-nav="Mission & Vision">
        <div class="landing__container two_col">
            <div>
            </div>
        </div>
    </section> -->
  </main>
  <footer class="page__footer">
    <p>&copy Udacity</p>
  </footer>
  <!-- <script src="js/app.js"></script> -->
</body>
</html>