/* ---- Base Rules ---- */
/* for minimum: 320 px*/

/* *{border: red 2px solid;} */

body {
    background: rgb(5, 61, 34);
    background: linear-gradient(0.5turn,rgb(255, 255, 255),rgb(154, 196, 135));
    width: 90vw;
    margin: 10px auto;
    padding: 5px;
    font-family: 'Tinos', serif;
    font-size: 0.93em;
    color: rgb(11, 24, 0);
}

div{
    padding: 10px;
    margin: 10px;
}

h1 {
    font-family: 'Tinos', serif;
    font-size: 3em;
    margin: 15px;
    color: rgb(11, 24, 0);
}

h2 {
    border-bottom: 1.5px solid rgb(11, 24, 0);
    font-family: 'Tinos', serif;
    /* font-size: 2.1em; */
    font-size: 7vw;
    color: rgb(11, 24, 0);
    margin: 5px;
}

h4 {
    margin: 0;
}

p {
    line-height: 1.6em;
    color: rgb(11, 24, 0);
}

a {
    color: rgb(32, 31, 114)
}

main {
    margin: 160px 0px 0px;
}

section {
    position: relative;
    /* min-height: 80vh; */
}
 
blockquote{
    margin: auto 0px;
}

#headerlogo {
    /* text-align: center; */
    width: 55%;
    margin: auto;
    padding: 10px 20px 5px;
}

#headerbanner{
    /* height: 300px; */
    width: 100%;
}

#navbar__list{
    justify-content: space-evenly;
}

#donate{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
#ruby{
    /* grid-area: "first"; */
    /* background-color: red; */
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}

#volunteer{
    /* grid-area: "second"; */
    /* background-color: yellow; */
    grid-column: 2 / span 1;
    grid-row: 2 / span 3;
}

#awareness{
    /* grid-area: "third"; */
    /* background-color: violet; */
    grid-column: 1 / span 1;
    grid-row: 3 / span 4;
}

#donationmsg{
    height: 80%;
    font-style: normal;
    font-size: 1em;
    line-height: 1.6;
}

#newsbox{
    background-color: rgba(154, 196, 135, 0.6);
    text-align: justify;
    border: 5px solid white;
}

#footerblock{
    display: flex;
    justify-content: space-evenly;
}

.logopic {
    height: 2em;
    padding: 5px;
    margin: 5px;
    border: white solid 1px;
}

.offset{
    margin: auto;
    /*display: grid;
    grid-template-columns: 50% 30%;*/
    /* grid-template-rows: repeat(5,15%); */
    /* grid-template-areas: 
        "first ."
        "first second"
        "..... second"
        "third second"
        "third .";
*/    
} 

.center{
    text-align:center;
}

.quotebox{
    background-color: rgba(5, 61, 34, 0.5);
    color: white;
    font-style: italic;
    padding: 15px 5px; /*30px 5px;*/
    /* margin: auto 0px;  */
    font-size: x-large;
}

.sidebox {
    border-radius: 30px;
    border: 8px white double;
    width: 70%; /*width: 40%;*/
    line-height: 2em;
    padding: 10px;
    margin: 15px auto;
}

.wideblock{
    width:50%;
    /* padding: 5px; */
    /* margin: 15px; */
}

.two_col{
    width:90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery{ /*single row*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.galleryimg{
    height: 20%;
    margin: 5px auto;
}

/* .shortimg{
    height: 100px;
    margin:10px auto;
} */
.shortimg {
    width: 80%;
    margin: 10px auto;
}

.medimg{
    width: 150px;
    margin: 5px;
}

.sideimg{
    width: 30vw;
    padding: 5px;
    margin: 5px;
}

.medtallimg{
    height:130px;
}

.tallimg{
    height: 250px;
    margin: 5px;
}

.fullwidth{
    width: 100%;
}

.halfscreen{
    width:50vw;
}

.imgcap{
    max-width: 80%;
}

.outerspace{
    padding: 10px;
}

.vertical{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

.card{
    border: 5px solid white;
    /* border-radius: 10%; */
    border-radius: 30px;
    /* width: 50%; */
    /* height: 400px;
    width: 180px;
    margin: 15px; */
    margin: 15px auto;
    /* margin: 25px; */
    padding: 5px 10px;
    position: relative;
    font-size: 0.95em;
}

.navbar__menu ul {
    padding-left: 0;
    margin: 50;
    /* text-align: right; */
    justify-content: space-evenly;
    color: white;
}

.navbar__menu li {
    display: inline-block;
    color: white;
}

.navbar__menu .menu__link {
    display: inline-flex;
    padding: 0.5em;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}



@media (hover:hover){
    .navbar__menu .menu__link:hover {
        background: rgb(18, 12, 54);
        color: #fff;
        transition: ease 0.3s all;
    }
}

.menu__link__active{
    background: white;   
}

.page__header {
    background-color: rgb(137, 172, 121);
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    z-index: 5;
    text-align: center;
}

.page__footer {
    background: rgb(137, 172, 121);
    padding: 1em;;
    color: #fff;
    margin-top: 15px;
}

.page__footer p{
    color: #fff;
}


.landing__container {
    /* padding: 1em; */
    text-align: left;
    width: 80%;
    margin:auto;
}

/* @media only screen and (min-width: 35em){
    .landing__container {
        /* max-width: 80vw; */
        /* padding: 1em 4em 4em; /
    }
 } */

/* section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
} */

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
/* section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
} */

/* section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
} */

/* section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all; 
}*/

/* section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all; 
}*/


/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
/* section.your-active-class { */
    /* background: rgb(0, 0, 0); */
    /* background: linear-gradient(0deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%); */
    /* border: 3px solid rgba(255, 255, 255, 0.25); */
/* } */

/* section.your-active-class .landing__container::before { */
    /* opacity: 1; */
    /* animation: rotate 4s linear 0s infinite forwards; */
/* } */

/* section.your-active-class .landing__container::after { */
    /* opacity: 1; */
    /* animation: rotate 5s linear 0s infinite forwards reverse; */
/* } */

/* Section Active Styles Keyframe Animations */
/* @keyframes rotate { */
	/* from { */
		/* transform: rotate(0deg) */
		           /* translate(-1em) */
		           /* rotate(0deg); */
	/* } */
	/* to { */
		/* transform: rotate(360deg) */
		           /* translate(-1em)  */
		           /* rotate(-360deg); */
	/* } */
/* } */

@media (min-width: 425px){
    .navbar__menu .menu__link {
        font-size: 1em;
    }
    /* .vertical{
        display: inline;
    } */
}

@media (min-width: 524px){
    .navbar__menu .menu__link {
        font-size: 1.2em;
    }
    .sidebox{
        width: 65vw;
    }
    .two_col{
        flex-wrap: nowrap ;
    }
    .landing__container{
        padding: 5px;
    }
    .shortimg{
        width: 45%;
    }
    .vertical{
        display: inline;
    }
    .galleryimg{
        height: 15vh;
    }
    .wider{
        width: 45%;
        /* margin: 5px; */
    }
    .narrow{
        width: 30%;
    }
    #contactpage{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
    }
    
}